# Data Cleaning

In [104]:
import pandas as pd

# Read the users dataset.

Take a look at what is the `users.csv` separator.

In [105]:
users = pd.read_csv('../data/users.csv', sep='#')

## Check its shape

See the number of rows and columns you're dealing.

## Use the .head() to see some rows of your dataframe.

In [106]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

## Get the data info. 

Which columns have a great number of missing values? How many space does this dataframe is occupying in your memory?

In [107]:
nul_columns = users.isnull().sum()
nul_columns

Id                     0
Reputation             0
CreationDate           0
DisplayName            6
LastAccessDate         0
WebsiteUrl         32345
Location           28772
AboutMe            31079
Views                  0
UpVotes                0
DownVotes              0
AccountId              0
Age                32151
ProfileImageUrl    23963
dtype: int64

In [108]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               40503 non-null  int64
 1   Reputation       40503 non-null  int64
 2   CreationDate     40503 non-null  object
 3   DisplayName      40497 non-null  object
 4   LastAccessDate   40503 non-null  object
 5   WebsiteUrl       8158 non-null   object
 6   Location         11731 non-null  object
 7   AboutMe          9424 non-null   object
 8   Views            40503 non-null  int64
 9   UpVotes          40503 non-null  int64
 10  DownVotes        40503 non-null  int64
 11  AccountId        40503 non-null  int64
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB

## Rename Id column to user_id.

Remember to store you results back at the dataframe.

In [109]:
users = users.rename({'Id':'user_id'}, axis =1)
users.head()

,user_id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

# Import the `posts.csv` dataset.

Note that this is a `gzip compressed csv`. In order to read this file correctly, you'll have to read the documentation (or help) of your `pd.read_csv()` function and check the `compression` argument. Try to understand which value of `compression=...` you should put in order to read your dataframe.

In [110]:
posts = pd.read_csv('../data/posts.csv.gzip', compression='gzip')

## Perform the same as above to understand a bit of your data (head, info, shape)

In [111]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

In [112]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  object
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   OwnerUserId            90584 non-null  float64
 8   LasActivityDate        91976 non-null  object
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  object
 16  CommunityOwnedDate     2467 non-null   object
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   object
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: float64(7), int64(4), object(10)
memory usage: 14.7+ MB

In [113]:
posts.shape

(91976, 21)

## Rename Id column to post_id and OwnerUserId to user_id.

Again, remember to check that your results are correctly stored inside the dataframe.

In [114]:
posts = posts.rename({'Id':'post_id', 'OwnerUserId' : 'user_id'}, axis=1)
posts.head()

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

## Define new dataframes for users and posts with the following selected columns:

**users columns**: user_id, Reputation, Views, UpVotes, DownVotes  
**posts columns**: post_id, Score, user_id, ViewCount, CommentCount, Body

In [115]:
new_users = users[['user_id', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_news = posts[['post_id', 'Score', 'user_id', 'ViewCount', 'CommentCount', 'Body']]

In [116]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          40503 non-null  int64
 1   Reputation       40503 non-null  int64
 2   CreationDate     40503 non-null  object
 3   DisplayName      40497 non-null  object
 4   LastAccessDate   40503 non-null  object
 5   WebsiteUrl       8158 non-null   object
 6   Location         11731 non-null  object
 7   AboutMe          9424 non-null   object
 8   Views            40503 non-null  int64
 9   UpVotes          40503 non-null  int64
 10  DownVotes        40503 non-null  int64
 11  AccountId        40503 non-null  int64
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB

In [117]:
new_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     40503 non-null  int64
 1   Reputation  40503 non-null  int64
 2   Views       40503 non-null  int64
 3   UpVotes     40503 non-null  int64
 4   DownVotes   40503 non-null  int64
dtypes: int64(5)
memory usage: 1.5 MB

In [118]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   post_id                91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  object
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   user_id                90584 non-null  float64
 8   LasActivityDate        91976 non-null  object
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  object
 16  CommunityOwnedDate     2467 non-null   object
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   object
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: float64(7), int64(4), object(10)
memory usage: 14.7+ MB

In [119]:
posts_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   post_id       91976 non-null  int64
 1   Score         91976 non-null  int64
 2   user_id       90584 non-null  float64
 3   ViewCount     42921 non-null  float64
 4   CommentCount  91976 non-null  int64
 5   Body          91756 non-null  object
dtypes: float64(2), int64(3), object(1)
memory usage: 4.2+ MB

**Note:** Check the new posts dataframe's info. What is the most noticeable change? 

Explain why we have chosen only some columns of it in terms of efficiency.

# Merge the new dataframes you have created, of users and posts. Create a dataframe called `posts_from_users`

You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes. 

Think carefully which should be the key(s) for your merging.

In [120]:
posts_from_users = new_users.merge(right=posts_news, on = ['user_id'])
posts_from_users.head()

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...

## Check the number of duplicated rows.

Remember you can sum the results of a mask to get how many numbers the True value appeared in the results. This occurs because `True` is interpreted as `1` in Python whereas `False` is interpreted as `0`.

In [121]:
posts_from_users.duplicated().sum()

299

## Find those duplicate values and try to understand what happened.

*Hint:* You can use the argument `keep=False` from the `.duplicated()` method to bring the duplication.

*Hint 2:* You can sort the values `by=['user_id', 'post_id']` to see them in order.

In [122]:
posts_from_users.loc[posts_from_users.duplicated(keep=False),:].sort_values(by=['user_id', 'post_id'])

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
8396,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
8399,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
8397,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
8400,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
8398,760,168,13,13,0,23987,0,62.0,3,<p>I was studying on a PAMI article and I have...
...,...,...,...,...,...,...,...,...,...,...
90343,54711,4,18,0,0,114527,0,45.0,5,<p>From Shapiro-Wilk's test I see that the res...
90368,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
90369,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
90460,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...
90461,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...

## Should you drop it? If you think it is reasonable to drop it, then drop it.

Think: How would you correct it in the first place? That is, what was wrong in the first place?

*Hint:* There's a pandas method to drop duplicates. If you wanted to do it by hand, you could select the indexes of the duplicated values and `.drop()` it.

In [123]:
#here is the problem
new_users.duplicated().sum()

178

In [124]:
posts_from_users.duplicated().sum()

299

In [125]:
posts_from_users = posts_from_users.drop_duplicates()
posts_from_users.duplicated().sum()

0

## 10. How many missing values do you have in your merged dataframe? On which columns?

In [126]:
posts_from_users.isna().sum()

user_id             0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
post_id             0
Score               0
ViewCount       48396
CommentCount        0
Body              220
dtype: int64

## Select only the rows in which there at least some missing values.

In [127]:
posts_from_users[posts_from_users.isnull().any(axis=1)]

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90817,55605,1,2,0,0,115106,0,NaN,0,"<p>Recasting this as a time-to-event problem, ..."
90820,55609,1,1,0,0,115115,2,NaN,0,"<p>This is my favourite:</p>\n\n<p>""To be sure..."
90827,55621,1,1,0,0,115213,0,NaN,0,<p>Here is the part that explains answer to yo...
90835,55637,26,4,0,0,115170,1,NaN,0,"<p>When you say class, I hope you mean 'output..."
90874,55729,16,1,0,0,115338,0,NaN,0,<p>All items are not solved fully correctly in...

## You will need to make something with missing values.  Will you clean or filling them? 

Pay attention. There can be different reasons for the missings numbers. Look at the `user_id` of some of them, look at the body of the message. Which ones you're sure of what should be and which one can you infer? Don't hurry up, take a look at your data.

In [146]:
# Changing the miss values of ViewCount to zero

## Adjust the data types in order to avoid future issues. Which ones should be changed?

In [148]:
posts_from_users.loc[posts_from_users['ViewCount'].isna(),'ViewCount'] = 0
posts_from_users

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,0.0,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,0.0,0,NaN
2,-1,1,0,5007,1920,8578,0,0.0,0,NaN
3,-1,1,0,5007,1920,8981,0,0.0,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,0.0,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,40.0,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,13.0,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,5.0,2,<p>My goal is to create a formula that can giv...

# Bonus 1: (filtering) What is the average number of comments for users who are above the average reputation?

*Hint:* Calculate the average of the user Reputation. Store it in a variable called `avg_reputation` and then use that variable for filtering the dataset and generating the results for each case (for the case in which `Reputation > {avg_reputation}` and etc.

*Hint 2:* You could create a variable based on that condition and use the group by function perform the task above.

In [159]:
avg_reputation = posts_from_users['Reputation'].mean()
print(avg_reputation)
mask = (posts_from_users['Reputation'] > avg_reputation)

6282.395411993288

In [171]:
new_df = posts_from_users.loc[mask, :]
new_df.groupby(by='user_id').mean()

,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount
user_id,,,,,,,,
5,6792.0,1145.0,662.0,5.0,1988.692308,12.504274,1292.914530,1.581197
8,6764.0,1089.0,604.0,25.0,4403.537190,9.000000,738.000000,2.115702
88,14082.0,3320.0,4235.0,126.0,15152.342183,5.020649,51.206490,1.737463
159,18283.0,3781.0,1014.0,59.0,32971.924915,7.150171,320.160410,2.034130
183,22625.0,4069.0,2496.0,45.0,24253.166329,5.835700,395.215010,1.344828
251,7931.0,984.0,819.0,0.0,2121.181818,7.530303,5.704545,1.590909
401,6906.0,1070.0,394.0,6.0,23114.122093,4.668605,46.145349,1.965116
442,6431.0,973.0,857.0,21.0,33775.541985,6.435115,574.564885,2.206107
449,12813.0,1089.0,1607.0,57.0,9676.019231,5.269231,0.000000,1.665385
601,13478.0,1286.0,283.0,17.0,40879.721053,3.252632,12.615789,1.971053
603,10647.0,1225.0,683.0,49.0,35942.864341,4.000000,66.748062,3.112403
686,44152.0,7357.0,2156.0,82.0,56618.879850,2.569462,8.951189,2.013767
805,65272.0,5680.0,7035.0,143.0,78081.503488,3.453488,2.654070,2.287209
887,18187.0,1660.0,230.0,4.0,35203.768392,5.019074,16.376022,1.953678
919,87393.0,20932.0,11273.0,779.0,36398.658638,6.671096,3.958472,2.544020
930,31170.0,5529.0,10523.0,214.0,10013.558952,7.550218,40.500000,1.668122
1036,8236.0,1305.0,11442.0,43.0,34197.245989,4.336898,23.711230,1.925134
1390,10476.0,1165.0,602.0,34.0,36160.041916,6.227545,27.413174,2.467066
1739,8772.0,881.0,154.0,8.0,39744.439560,4.153846,0.000000,2.076923
1764,7461.0,764.0,1264.0,8.0,40147.694444,3.043651,28.833333,1.781746
1909,6524.0,681.0,150.0,6.0,18869.714286,6.516484,51.582418,2.307692
2116,18088.0,3899.0,3274.0,43.0,25837.267218,4.460055,14.903581,2.338843
2392,11860.0,2359.0,883.0,7.0,22822.616822,3.560748,23.105919,2.517134
2817,9604.0,1244.0,1437.0,8.0,30115.333333,4.010870,297.047101,1.884058
2958,10470.0,655.0,210.0,6.0,31649.057762,3.115523,2.815884,1.815884
2970,13647.0,5441.0,2468.0,212.0,21260.244681,13.468085,0.000000,3.680851
3019,8045.0,500.0,228.0,57.0,35895.954545,5.878788,118.598485,2.136364
3277,13898.0,2866.0,869.0,12.0,39844.139860,4.202797,53.104895,2.094406
3382,8009.0,3559.0,183.0,24.0,40053.981176,1.456471,0.000000,1.920000
4253,19585.0,6948.0,155.0,56.0,62090.200000,3.997778,5.935556,2.244444
4257,6461.0,434.0,186.0,6.0,21694.696429,3.333333,3.321429,1.880952
4376,8164.0,611.0,194.0,3.0,23640.182609,5.756522,6.643478,1.730435
4505,25123.0,1245.0,582.0,4.0,48101.626324,3.372163,0.000000,1.366112
4598,8814.0,516.0,314.0,11.0,62338.889764,3.003937,3.712598,1.744094
4856,17791.0,5927.0,2122.0,412.0,26012.977444,6.342105,11.462406,3.172932
5739,15236.0,2252.0,705.0,16.0,40367.141058,3.571788,4.526448,1.710327
5836,11489.0,1319.0,683.0,18.0,32206.241509,5.577358,115.177358,1.864151
6633,9429.0,1534.0,167.0,88.0,56150.309524,3.900000,14.038095,1.590476
7071,7663.0,878.0,550.0,21.0,59688.751825,2.562044,15.587591,1.846715
7290,37083.0,5554.0,8641.0,125.0,57828.455865,4.290206,8.718259,1.866989
7555,11520.0,1101.0,460.0,11.0,35055.350427,4.008547,0.000000,2.213675
7828,8635.0,666.0,49.0,110.0,61879.605670,1.853093,14.456186,1.703608
7972,11631.0,1050.0,1230.0,187.0,37194.950000,2.917647,14.305882,1.694118
8013,7972.0,662.0,108.0,6.0,65856.571875,2.153125,13.012500,2.287500
9394,9800.0,946.0,1273.0,54.0,60163.268722,3.955947,20.383260,2.211454
10849,7246.0,582.0,403.0,5.0,39485.423313,3.766871,33.993865,2.337423
11032,22275.0,7395.0,2619.0,42.0,32441.860248,1.981366,10.249482,2.978261
17230,10690.0,1040.0,3079.0,163.0,70535.555172,3.006897,0.910345,1.568966
22047,13806.0,2722.0,401.0,200.0,70901.782609,3.417391,0.000000,2.153623
28746,16108.0,1673.0,63.0,6.0,90879.376499,2.882494,5.551559,2.510791
32036,7227.0,991.0,2664.0,143.0,92661.754647,2.078067,1.319703,1.643123

# Bonus 2: (grouping) Group your dataframe by the Reputation of your user. Calculate the mean value of ViewCount and CommentCount for each reputation value.

Suppose the missing values on ViewCount are due a systemic error and you wanted to guess what values should have been there in the first place, but the system abended.

Would that be an interesting candidate for inputting the value for the missing `ViewCount` values? If so, input it with these values.

In [172]:
avg_of_reputation = posts_from_users.groupby('Reputation').agg(avg_view_count = ('ViewCount', 'mean'),
                                                              avg_coom_count = ('CommentCount', 'mean'))
avg_of_reputation

            avg_view_count  avg_coom_count
Reputation
1                95.677959        1.494501
2               438.916667        2.333333
3               156.343750        1.680804
4               219.268293        2.341463
5               297.076923        2.115385
...                    ...             ...
31170            40.500000        1.668122
37083             8.718259        1.866989
44152             8.951189        2.013767
65272             2.654070        2.287209
87393             3.958472        2.544020

[965 rows x 2 columns]

In [173]:
avg_of_reputation.isna().sum()

avg_view_count    0
avg_coom_count    0
dtype: int64

## refs

Sample database used: https://relational.fit.cvut.cz/dataset/Stats

Stack-overflow database: https://www.brentozar.com/archive/2015/10/how-to-download-the-stack-overflow-database-via-bittorrent/